/*
* @Author: cewei
* @Date:   2018-02-07 13:30:48
* @Last Modified by:   cewei
* @Last Modified time: 2018-02-09 14:07:16
*/
/* 导航主体 */
.nav-side{
	padding-top:20px; 
    float: left;
    width: 130px;
    min-height: 100px;
}
.nav-side .nav-item{
    line-height: 25px;
    font-size: 13px;
}
.nav-side .nav-item .link{
    color: #888;
}
.nav-side .nav-item.active .link{
    color: #c60023;
}
/* 右侧内容区 */
.content.with-nav{
    float: left;
    width: 950px;
}