/*
* @Author: cewei
* @Date:   2018-02-06 11:56:52
* @Last Modified by:   cewei
* @Last Modified time: 2018-02-06 12:02:12
*/
.copyright{
	text-align: center;
	margin-bottom:10px; 
}
.links{
	text-align:center;
	height: 30px;
	line-height: 30px;
}