<div id="box">
	<div id="pics" style="left: 0;font-size:0;">
	    <img src="../../image/banner/banner5.jpg" class='img'/>
	    <img src="../../image/banner/banner1.jpg" class='img'/>
	    <img src="../../image/banner/banner2.jpg" class='img'/>
	    <img src="../../image/banner/banner3.jpg" class='img'/>
	    <img src="../../image/banner/banner4.jpg" class='img'/>
	    <img src="../../image/banner/banner5.jpg" class='img'/>
	    <img src="../../image/banner/banner1.jpg" class='img'/>
	</div>
	<div id="dots">
	  
	</div>
	<img class="turn pre" src='../../image/banner/arrow.png'></img>
	<img class="turn next" src='../../image/banner/arrow.png'></img>
</div>