/*
* @Author: cewei
* @Date:   2018-02-09 16:45:11
* @Last Modified by:   cewei
* @Last Modified time: 2018-06-08 14:08:03
*/
#box{
	position:relative;
	width: 830px;
	height: 370px;
	overflow: hidden;
}

#pics{
	position: absolute;
	width: 5810px;
	height: 370px;
	left:-830px;
	z-index: 0;
}
#pics .img{
	display: inline;
	width: 830px;
	height: 100%;
}
.turn{
	position:absolute;
	top:150px;
	width:30px;
	height: 70px;
	cursor:pointer;
	background: #4444447d;
	opacity: 0.4
}

.turn.pre{
	left:10px;
	transform:rotateZ(180deg);
}
.turn.next{
	right:10px;
	
}
.turn:hover{
	opacity: 0.8
}

/*dots*/
#dots{
	position: absolute;
	height: 10px;
	bottom: 25px;
	left:40%;
	z-index:2;
}

#dots .dot{
	width: 15px;
	height: 15px;
	margin:0 3px;
	background: #333;
	border:1px solid #fff;
	border-radius: 50%;
	cursor: pointer;
	float: left;
}
#dots .dot.active{
	background: #eee
}